/* Reset default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set font family */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navigation links styles */
  .topnav {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topnav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  /* Heading styles */
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Paragraph styles */
  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
  }
  